# output dir
output
instant_test_output
inference_test_output


*.png
*.json
*.diff
*.jpg

!/projects/DensePose/doc/images/*.jpg

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
/detectron2/model_zoo/configs
/datasets/*
!/datasets/*.*
/projects/*/datasets
/models
/snippet

# Extras
**/**/.DS_Store

# checkpoint dirs
mahindra_dirt/exp2
mahindra_dirt/exp3
mahindra_dirt/exp4
mahindra_dirt/exp5

# needed files
!train_config.png


# training dirs
cargobike_training_dir/exp1
cargobike_training_dir/exp2
cargobike_training_dir/exp3
cargobike_training_dir/exp4
cargobike_training_dir/exp5
cargobike_training_dir/exp6
cargobike_training_dir/exp7

cargobike_training_dir/exp4.zip
